@import 'tailwindcss';

@source '../**/*.blade.php';
@source '../**/*.js';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

@plugin 'daisyui' {
    themes: shakesprep --default;
}

@plugin 'daisyui/theme' {
    name: 'shakesprep';
    default: true;
    prefersdark: false;
    color-scheme: light;
    font-family: 'Baskerville', 'Garamond', serif;
    
    --color-primary: #0A400C; /* Header/footer main */
    --color-secondary: #E7C36F; /* Header/footer text */
    --color-base-100: #FEFAE0; /* Main background */
    --color-base-200: #E2DBBE; /* Button background */
    --color-base-content: #413B2A; /* Text */
    --radius-box: 6px;
    --radius-field: 6px;
}
